<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>User Information and Form</title>

	<!--JQUERY-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- DATA TABLE -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">


</head>

<body>


	<div class="card">
		<div class="card-header">
			<h4>User Information</h4>
		</div>
		<div class="card-body">

			<form class="form" role="form" autocomplete="off" th:object="${compesationForm}"
				th:action="${editMode} ?@{/editCompesation}:@{'/compesationForm/'+${employee_id}}" method="post">



				<input class="form-control" type="hidden" th:field="${compesationForm.id}" th:if="${editMode}">











				<div class="form-group row">
					<label class="col-lg-3 col-form-label form-control-label">type</label>
					<div class="col-lg-9">

						<!--<input class="form-control" type="text" th:field="${compesationForm.type}" name="type">-->

						<input type="radio" id="salary" name="type" value="SALARY" th:field="${compesationForm.type}">
						<label for="Salary">Salary</label><br>
						
						<input type="radio" id="bonus" name="type" value="BONUS" th:field="${compesationForm.type}">
						<label for="Salary">Bonus</label><br>
						
						<input type="radio" id="commission" name="type" value="COMISSION"
							th:field="${compesationForm.type}">
						<label for="Salary">Commission</label><br>
						
						<input type="radio" id="allowance" name="type" value="ALLOWANCE"
							th:field="${compesationForm.type}">
						<label for="Salary">Allowance</label><br>
						
						<input type="radio" id="adjustment" name="type" value="ADJUSTMENT"
							th:field="${compesationForm.type}">
						<label for="Salary">Adjustment</label><br>

						<div class="alert-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}">
							Name Error</div>

					</div>

				</div>





				<div class="form-group row">
					<label class="col-lg-3 col-form-label form-control-label">Amount</label>
					<div class="col-lg-9">
						<input class="form-control" type="number" th:field="${compesationForm.amount}" name="amount">
						<div class="alert-danger" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">
							Name Error</div>

					</div>
				</div>
				<div class="form-group row">
					<label class="col-lg-3 col-form-label form-control-label">description</label>
					<div class="col-lg-9">
						<input class="form-control" type="text" th:field="${compesationForm.description}"
							name="description">


						<div class="alert-danger" th:if="${#fields.hasErrors('description')}"
							th:errors="*{description}">
							Name Error</div>

					</div>
				</div>

				<div class="form-group row">
					<label class="col-lg-3 col-form-label form-control-label">date</label>
					<div class="col-lg-9">
						<input class="form-control" type="date" th:field="${compesationForm.date}" name="date">
						<div class="alert-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">
							Name Error</div>

					</div>
				</div>

				<!--	<div class="form-group row">
					<label th:text="Employees" class="col-lg-3 col-form-label form-control-label"></label>
					<div class="col-lg-9">
						<select  class="form-control" th:field="${compesationForm.employees}">
							<option th:each="employee :${employees}" th:value="${employee.id}" th:text="${employee.firstName}">
							</option>
						</select>
						</div>
					</div>-->
		</div>
	</div>

	<div class="form-group row">
		<div class="col-lg-12 text-center">
			<input type="reset" class="btn btn-secondary" value="Reset">
			<a class="btn btn-secondary" th:href="@{'/compesationForm/cancel'}">Cancel</a>

			<input type="submit" class="btn btn-primary" value="Save Changes"
				th:value="${editMode}?'Save Compesation':'Create Compesation'">
		</div>
	</div>
	<div class="alert alert-danger text-center" th:if="${formErrorMessage}" th:text="${formErrorMessage}">
		Error MEssage</div>
	<div class="alert alert-success text-center d-none" id="formSuccess" th:if="${editMode}">Success MEssage
	</div>
	</form>

	</div>
	</div>

</body>


</html>